@import 'utilities/variables';
@import 'utilities/keyframes';

@import 'base/grid';
@import 'base/fonts';
@import 'base/general';
@import 'base/links';
@import 'base/sprite-mixin';

.links {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.links li {
  display: inline-block;
  margin-right: 3rem;
}

.links li:last-child {
  margin-right: 0;
}

.links a {
  color: $primary-light;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 2rem 0;
  position: relative;
  transition: color 0.3s ease;
}

.links a:hover {
  text-decoration: none;
}

.links a::before {
  background-color: rgba(255, 68, 0, 0.25);
  transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1) 0.15s;
}

.links a::after {
  background-color: rgba(172, 255, 47, 0.25);
  transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1);
}

.links a::after,
.links a::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: auto;
  width: 0;
  height: 100%;
  z-index: 2;
}

.links a:hover::after,
.links a:hover::before {
  width: 100%;
  left: 0;
}

.effects-3dp-container {
  perspective: 50px;

  .effects-3dp-inner {
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
  }
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}

@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}

.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}

.feature {
  width: 100%;
  text-align: left;
  position: relative;
  margin-top: 6rem;
  margin-bottom: 3rem;

  h3 {
    text-transform: uppercase;
    font-style: italic;
  }

  .title {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    color: $primary-lighter;
  }

  p {
    color: $primary-lighter;
    text-align: left;
    padding-top: 8rem;
    font-size: 3.5rem;
    font-weight: 700;

    a {
      text-decoration: none;
      font-weight: 700;
      color: $primary;
    }
  }
}

.glyph {
  font-size: 7rem;
  font-weight: 700;
  color: $primary-lighter;
}

article {
  font-family: $font-family-serif;
}