<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/skel.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/rrssb.min.js"></script>
<!--[if lte IE 8]><script src="./js/ie/respond.min.js"></script><![endif]-->
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
<script src="/js/main.js"></script>
<script type="text/javascript">
    window.onload = function() {
        var anchors = document.getElementsByTagName("a");

        for (var i = 0; i < anchors.length; i++) {
            anchors[i].href = anchors[i].href.replace("index.html", "");
        }
    }
</script>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-82969308-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>