<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/skel.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/rrssb.min.js"></script>
<!--[if lte IE 8]><script src="./js/ie/respond.min.js"></script><![endif]-->
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
<script src="/js/main.js"></script>
<script type="text/javascript">
    window.onload = function() {
        var anchors = document.getElementsByTagName("a");

        for (var i = 0; i < anchors.length; i++) {
            anchors[i].href = anchors[i].href.replace("index.html", "");
        }
    }
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-82826377-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-82826377-1');
</script>
