<!DOCTYPE HTML>
<html>

<head>
  {{> head}}
</head>

<body>

  <div id="wrapper">

    <header id="header" class="alt">
      <h1>{{ title }}</h1>
      <p>{{ description }}</p>

      <ul class="icons">
        <li><a href="mailto:hi@ilusons.com" class="icon fa-envelope alt"><span class="label">Email</span></a></li>
        <li><a href="/labs" class="icon fa-flask alt"><span class="label">/labs</span></a></li>
        <li><a href="//blog.ilusons.com" class="icon fa-list alt"><span class="label">Blog</span></a></li>
      </ul>
    </header>

    <nav id="nav">
      <ul>
        <li><a href="#intro" class="active">Intro</a></li>
        <li><a href="#cta">Contact</a></li>
        <li><a href="#labs">Work samples</a></li>
        <li><a href="//blog.ilusons.com">Blog</a></li>
      </ul>
    </nav>

    <div id="main">

      <section id="intro" class="main special">
        <div class="spotlight">
          <div class="content">
            <header class="major">
              <h2>hello,</h2>
            </header>
            <h3>I'm a freelance software developer.</h3>
            <h4>Work samples are <a href="#labs">below</a>.</h4>
          </div>
        </div>
      </section>

      <section id="cta" class="main special">
        <header class="major">
          <h2>looking to get work done?</h2>
        </header>
        <footer class="major">
          <ul class="actions">
            <li><a href="https://angel.co/code0987" class="button">angel.co</a></li>
            <li><a href="https://www.fiverr.com/code0987" class="button">fiverr.com</a></li>
            <li><a href="mailto:hi@ilusons.com" class="button special">email me</a></li>
            <li><a href="https://www.freelancer.com/u/freelancer900" class="button">freelancer.com</a></li>
            <li><a href="https://www.linkedin.com/in/code0987/" class="button">linkedin</a></li>
          </ul>
        </footer>
      </section>

      <section id="labs" class="main special">
        <header class="major">
          <h2>work samples</h2>
        </header>
        <div class="grid-2">
          {{#each collections.labs}}
          <section class="main">
            <h4><a href="/{{{ this.path }}}" rel="bookmark"> {{this.title}}</a></h4>
            <p>{{{this.subtitle}}}</p>
            {{#if this.thumb}}
            <img src="/{{{ this.rurl }}}/{{{ this.thumb }}}" title="{{this.title}}" />
            {{/if}}
            <p>{{{this.excerpt}}}</p>
          </section>
          {{/each}}
        </div>
      </section>

    </div>

    <!-- Footer -->
    {{> footer}}

  </div>

  <!-- Scripts -->
  {{> scripts}}
</body>

</html>