<!DOCTYPE HTML>
<html>

<head>
    <!-- Head -->
    {{> head}}
</head>

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header" style="padding: 2.3em;">
        </header>

        <!-- Nav -->
        <nav id="nav" class="pagination">
            <ul class="icons">
                <li><a href="#" onclick="(window.location = '/');" class="icon big fa-home"><span class="label">home</span></a></li>
                {{#if pagination}}
                <!-- Posts nav -->
                <!-- Posts nav prev -->
                {{#if pagination.next}}
                <li><a href="/{{pagination.next.path}}" class="icon big fa-chevron-circle-left"><span class="label">&lt; Prev</span></a></li>
                {{/if}}
                <!-- Posts nav next -->
                {{#if pagination.previous}}
                <li><a href="/{{pagination.previous.path}}" class="icon big fa-chevron-circle-right"><span class="label">Next &gt;</span></a></li>
                {{/if}}
                <!-- Posts nav -->
                {{/if}}
            </ul>
        </nav>

        <!-- Main -->
        <div id="main" class="grid">

            {{#each pagination.files}}

            <section class="main special">
                <header class="major">
                    <h2><a href="/{{{ this.path }}}" rel="bookmark" class="icon fa-flask"> {{this.title}}</a></h2>
                    {{#if this.thumb}}
                    <img src="/{{{ this.rurl }}}/{{{ this.thumb }}}" title="{{this.title}}"/>
                    {{/if}}
                    <p>{{{this.excerpt}}}</p>
                </header>
            </section>

            {{/each}}

        </div>

        <!-- Footer -->
        {{> footer}}

    </div>

    <!-- Scripts -->
    {{> scripts}}
</body>

</html>